aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
anyio==4.4.0
asgiref==3.8.1
attrs==24.2.0
bidict==0.23.1
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
cssbeautifier==1.15.1
Django==5.0.8
django-bootstrap5==24.2
django-debug-toolbar==4.4.6
django-filter==24.3
django-mathfilters==1.0.0
django-require-login==1.1.4
django-widget-tweaks==1.5.0
djlint==1.35.2
docutils==0.21.2
EditorConfig==0.12.4
fastapi==0.112.2
flatbuffers==24.3.25
frozenlist==1.4.1
h11==0.14.0
html-tag-names==0.1.2
html-void-elements==0.1.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
humanfriendly==10.0
idna==3.8
ifaddr==0.2.0
imageio==2.35.1
itsdangerous==2.2.0
Jinja2==3.1.4
jsbeautifier==1.15.1
json5==0.9.25
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lazy_loader==0.4
llvmlite==0.43.0
markdown2==2.5.0
MarkupSafe==2.1.5
mpmath==1.3.0
mssql-django==1.5
multidict==6.0.5
networkx==3.4.1
nicegui==2.0.1
numba==0.60.0
numpy==1.26.4
onnxruntime==1.19.2
opencv-python==4.9.0.80
opencv-python-headless==4.10.0.84
orjson==3.10.7
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
pooch==1.8.2
protobuf==5.28.2
pscript==0.7.7
pydantic==1.10.18
Pygments==2.18.0
PyMatting==1.1.12
pyodbc==5.1.0
pyreadline3==3.5.4
python-dotenv==1.0.1
python-engineio==4.9.1
python-multipart==0.0.9
python-socketio==5.11.3
pytz==2024.1
PyYAML==6.0.2
referencing==0.35.1
regex==2024.9.11
rembg==2.0.59
requests==2.32.3
rpds-py==0.20.0
scikit-image==0.24.0
scipy==1.14.1
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
sqlparse==0.5.1
starlette==0.38.2
sympy==1.13.3
tifffile==2024.9.20
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uvicorn==0.30.6
vbuild==0.8.2
watchfiles==0.24.0
websockets==13.0.1
wfastcgi==3.0.0
wsproto==1.2.0
yarl==1.9.6
mediapipe==0.10.14