<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="djangoproject" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\DjangoProject\env\Scripts\python.exe|C:\inetpub\wwwroot\DjangoProject\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />

        </handlers>

    </system.webServer>
    <appSettings>
       <add key="WSGI_HANDLER" value="myproject.wsgi.application" />
       <add key="PYTHONPATH" value="C:\inetpub\wwwroot\DjangoProject\" />
       <add key="DJANGO_SETTINGS_MODULE" value="myproject.settings" />
    </appSettings>
</configuration>
