{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="mt-5 card shadow-lg " style="min-width: 32rem">
        <div class="card-header bg-primary text-white">
            <h2>تغيير كلمة المرور</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">تحديث كلمة المرور</button>
            </form>
        </div>
    </div>


</div>
{% endblock %}
