{% load django_bootstrap5 %} 

{% comment %} TODO: addOfficer check file upload works {% endcomment %}
{% comment %} enctype="multipart/form-data" {% endcomment %}

<form hx-post="{{ request.path }}" class="modal-content" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
    <div class="modal-header">
      <h5 class="modal-title">اضافة ضابط</h5>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        {% bootstrap_form form %}
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
      <button type="submit" class="btn btn-primary">اضافة</button>
    </div>
</form>