{% extends "base.html" %}
{% load custom_filters %}
{% block title %}
  منظومة شئون ضباط
{% endblock title %}
{% block content %}
  {% load static %}
  {% load mathfilters %}
  <!-- Content Wrapper. Contains page content -->
  <!-- Content Header (Page header) -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        {% comment %} <div class="card collapsed-card"> {% endcomment %}
        <div class="card-header">
          <h3 class="card-title">معلومات</h3>
          <div class="card-tools">
            <button type="button"
                    class="btn btn-tool"
                    data-lte-toggle="card-collapse"
                    title="Collapse">
              <i data-lte-icon="expand" class="fas fa-plus"></i>
              <i data-lte-icon="collapse" class="fas fa-minus"></i>
            </button>
            {% comment %} <button type="button" class="btn btn-tool" data-lte-toggle="card-remove" title="Remove"> <i class="bi bi-x-lg"></i> </button> {% endcomment %}
          </div>
        </div>
        <div class="card-body" style="box-sizing: border-box; display: block;">
          {% comment %} <div class="card-body" style="box-sizing: border-box; display: none;"> {% endcomment %}
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">اجمالي عدد الضباط</h3>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                      <span class="fw-bold fs-4">{{ total_officers|arabic_numbers }}</span>
                      <span>اجمالي عدد الضباط</span>
                    </p>
                  </div>
                  <!-- /.d-flex -->
                  <div class="position-relative mb-4">
                    <canvas id="visitors-chart" height="200"></canvas>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    
                    <h3 class="card-title">طاقم النوبتچية عن اليوم  {{ date_value|date:"d-m-Y"|arabic_numbers }}</h3>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive p-0">
                    <table class="table table-striped align-middle">
                      <thead>
                        <tr>
                          <th>الوظيفة</th>
                          <th>الاسم</th>
                          <th>رقم الهاتف</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for team_type, details in shifts.items %}
                          <tr>
                              <td>{{ team_type }}</td>
                              <td>{% if details.officer_name != "لم يحدد" %} {{ details.officer_rank }} / {{ details.officer_name }} 
                                {%else%} 
                                {{ details.officer_name }}
                                {%endif%}  </td>
                              <td>{{ details.officer_phone }}</td>
                          </tr>
                        {% endfor %}

                       
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Attendance Status Card -->
          <div class="row mt-3">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header border-0">
                  <h3 class="card-title">تمام الضباط اليوم  {{ date_value|date:"d-m-Y"|arabic_numbers }}</h3>
                </div>
                <div class="card-body">
                  <div class="table-responsive p-0">
                    <table class="table table-bordered table-hover text-center">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">القوة</th>
                          <th scope="col">موجود</th>
                          <th scope="col">خارج</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ total_officers|arabic_numbers }}</td>
                          <td>{{ inside_officers|arabic_numbers }}</td>
                          <td>{{ outside_officers|arabic_numbers }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="text-end">
                    <a href="{% url 'attendance_list' %}" class="btn btn-info">الذهاب للتمام التفصيلي</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <div class="card-footer" style="box-sizing: border-box; display: none;">Footer</div> <!-- /.card-footer--> {% endcomment %}
      </div>
    </div>
  </div>
  <div class="d-flex gap-2 mb-2 mt-3">
    {% if perms.officers_affairs.add_officer %}
      <button class="btn btn-primary mb-3"
              hx-get="{% url "officers_add" %}"
              hx-target="#dialog">اضافة ضابط</button>
    {% endif %}
    <!-- Filter options -->
    <button class="btn btn-secondary mb-3"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFilter"
            aria-expanded="false"
            aria-controls="collapseFilter">خيارات بحث متقدمة</button>
  </div>
  <!-- تصنيفات-->
  {% include "officers_affairs/officer_list.html" %}
</div>
<!-- /.container-fluid -->
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Modal Placeholder -->
<div id="modal" class="modal fade">
  <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>
<!-- Toast -->
<div class="toast-container position-fixed top-0 start-0 p-3">
  <div id="toast"
       class="toast align-items-center text-white bg-success border-0"
       role="alert"
       aria-live="assertive"
       aria-atomic="true">
    <div class="d-flex">
      <div id="toast-body" class="toast-body"></div>
      <button type="button"
              class="btn-close btn-close-white me-2 m-auto"
              data-bs-dismiss="toast"
              aria-label="Close"></button>
    </div>
  </div>
</div>
<script>
  const modal = new bootstrap.Modal(document.getElementById("modal"))

  htmx.on("htmx:afterSwap", (e) => {
    // Response targeting #dialog => show the modal
    if (e.detail.target.id == "dialog") {
      modal.show()
    }
  })

  htmx.on("htmx:beforeSwap", (e) => {
    // Empty response targeting #dialog => hide the modal
    if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
      modal.hide()
      e.detail.shouldSwap = false
    }
  })

  htmx.on("hidden.bs.modal", () => {
    // Remove dialog content after hiding
    document.getElementById("dialog").innerHTML = ""
  })
  
  const toastElement = document.getElementById("toast")
  const toastBody = document.getElementById("toast-body")
  const toast = new bootstrap.Toast(toastElement, { delay: 2000 })

  htmx.on("showMessage", (e) => {
    toastBody.innerText = e.detail.value
    toast.show()
  })


</script>
<script>
  $(document).ready(function(){
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    });
/*here i will make loop for get id category and status for contact with books */
/*حساب اجمالي الارباح و هي عبارة عن حاصل جمع سعر الكتب عند البيع بالاضافة الى سعر استعارة الكتاب*/
  });

  $(function () {
    'use strict'
  
    var ticksStyle = {
      fontColor: '#495057',
      fontStyle: 'bold'
    }

    var mode      = 'index'
    var intersect = true

    var $salesChart = $('#sales-chart')

    var salesChart  = new Chart($salesChart, {

      type   : 'bar',
      
      data   : {

        labels  : [
            

          'تفاصيل الأجازات',

        ],


        datasets: [
          {
            backgroundColor: '#007bff',
            borderColor    : '#007bff',
            data           : [ 
                '30',
            ]
          },
          {
            backgroundColor: '#ced4da',
            borderColor    : '#ced4da',
            data           : [ 
                  '30',
            ]
          },
          {
            backgroundColor: '#250',
            borderColor    : '#ced4da',
            data           : [ 
                  '40',
            ]
          }
        ]
      },

    
    
    options: {
        maintainAspectRatio: false,
        tooltips           : {
          mode     : mode,
          intersect: intersect
        },
        hover              : {
          mode     : mode,
          intersect: intersect
        },
        legend             : {
          display: false
        },
        scales             : {
          yAxes: [{
            // display: false,
            gridLines: {
              display      : true,
              lineWidth    : '4px',
              color        : 'rgba(0, 0, 0, .2)',
              zeroLineColor: 'transparent'
            },
            ticks    : $.extend({
              beginAtZero: true,

              // Include a dollar sign in the ticks
              callback: function (value, index, values) {
                if (value >= 1000) {
                  value /= 1000
                  value += 'k'
                }
                return '$' + value
              }
            }, ticksStyle)
          }],
          xAxes: [{
            display  : true,
            gridLines: {
              display: false
            },
            ticks    : ticksStyle
          }]
        }
      }
    });
    
  var pieChart = document.getElementById('visitors-chart').getContext('2d')

    var myPieChart = new Chart(pieChart, {
      type: 'pie',
      data: {
        datasets: [{
          data: [{{total_officers|sub:inside_officers}},{{inside_officers}}, ],
          backgroundColor :["#f3545d","blue"],
          borderWidth: 3,
          
        }],
        labels: [ 'خارج','موجود'] 
      },
      options : {
        responsive: true, 
        maintainAspectRatio: false,
        legend: {
          position : 'bottom',
          labels : {
            fontColor: 'gray',
            fontSize: 19,
            usePointStyle : true,
            padding:30
          }
        },
        pieceLabel: {
          render: 'percentage',
          fontColor: 'white',
          fontSize: 14,
        },


      }
    })

  })


</script>



<script>
  function updateState(){
    console.log("update state")

        const filtertoggles = document.querySelectorAll('.filter-toggle');
        const urlparams = new URLSearchParams(window.location.search);

        filtertoggles.forEach(toggle => {
            const filtername = toggle.getAttribute('data-filter');
            const filterfields = document.querySelectorAll(`[name="${filtername}"]`);
            
            
            if (urlparams.has(filtername)) {
                toggle.checked = true;

                filterfields.forEach(field => {
                    field.style.display = 'inline-block';
                    field.disabled = false;
                    if(field.type ==="checkbox") field.parentElement.style.display='block'
                });
            } else {
                toggle.checked = false;

                filterfields.forEach(field => {
                    field.style.display = 'none';
                    field.disabled = true;
                    if(field.type ==="checkbox") field.parentElement.style.display='none'
                });
            }
            
            toggle.addEventListener('change', function() {
              console.log("filtername", filtername)
              
                for(let i = 0; i < filterfields.length; i++){
                  if (this.checked) {
                    if(filterfields[i].type ==="checkbox") filterfields[i].parentElement.style.display='block'
                    filterfields[i].style.display = 'inline-block';
                    filterfields[i].disabled = false; 
                  } else {
                    if(filterfields[i].type ==="checkbox") filterfields[i].parentElement.style.display='none'
                    filterfields[i].style.display = 'none';
                    filterfields[i].disabled = true;           
                  }
                }
            });
        });



      
  }

  htmx.on('htmx:afterSettle', (e)=>{
      if (e.detail.target.id === 'officers_list') {
                updateState();
          }
  })

  updateState();
  
</script>

{% endblock content %}
