{% extends 'base.html' %}

{% block title %}منظومة شئون ضباط{% endblock %}

{% block content %}

{% load static %}
{% load mathfilters %}

<div style="direction: rtl;" class="wrapper">
  
  <!-- Content Wrapper. Contains page content -->
  <div   class="content-wrapper">
    <!-- Content Header (Page header) -->

   
      <!--الاحصائيات-->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">اجمالي عدد الضباط</h3>                    
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                      <span class="text-bold text-lg">{{count_officers_total}}</span>
                      <span>اجمالي عدد الضباط</span>
                    </p>  
                  </div>
                  <!-- /.d-flex -->

                  <div class="position-relative mb-4">
                    <canvas id="visitors-chart" height="200"></canvas>
                  </div>  
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">تيست</h3>   
                  </div>
                </div>    
                <div class="card-body">
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                      <span id="totalsalarys" class="text-bold text-lg">$250</span><br></p>
                  </div>
                  <!-- /.d-flex -->
  
                  <div class="position-relative mb-4">
                    <canvas id="sales-chart" height="160"></canvas>
                  </div>
  
                  <div class="d-flex flex-row justify-content-end">
                    <span class="mr-2">
                      <i class="fas fa-square text-primary"></i> خوارج
                      <p id="soldtotals"></p>     
                    </span>
                    <span>
                      <i class="fas fa-square text-gray"></i> موجود
                      <p id="rentedtotals"></p>
                    </span>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
  

          <div class="d-flex gap-2 mb-2">

            {% if perms.officers_affairs.add_officer %}
              <button hx-get="{% url "officers_add" %}" hx-target="#dialog" class="btn btn-primary"> اضافة ضابط</button>
            {% endif %}
            
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              بحث
            </button>
          </div>
  
          <!-- تصنيفات-->
             
                  
                  
        <div class="row">
            {% include "officers_affairs/officer_list.html" %}

              <div class="row">
                <div class="col text-center">
                  <!--اضف صورة هنا في حالة عدم وجود كتب-->   
                </div>
              </div>
          </div>    

      </div>
    </div>
        <!-- /.container-fluid -->
  </div>
      <!-- /.content -->
</div>
    <!-- /.content-wrapper -->

<!-- Modal Placeholder -->
<div id="modal" class="modal fade" >
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

<!-- Toast -->
<div class="toast-container position-fixed top-0 start-0 p-3">
    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div id="toast-body" class="toast-body"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
    </div>
</div>

<script>
  const modal = new bootstrap.Modal(document.getElementById("modal"))

  htmx.on("htmx:afterSwap", (e) => {
    // Response targeting #dialog => show the modal
    if (e.detail.target.id == "dialog") {
      modal.show()
    }
  })

  htmx.on("htmx:beforeSwap", (e) => {
    // Empty response targeting #dialog => hide the modal
    if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
      modal.hide()
      e.detail.shouldSwap = false
    }
  })

  htmx.on("hidden.bs.modal", () => {
    // Remove dialog content after hiding
    document.getElementById("dialog").innerHTML = ""
  })
  
  const toastElement = document.getElementById("toast")
  const toastBody = document.getElementById("toast-body")
  const toast = new bootstrap.Toast(toastElement, { delay: 2000 })

  htmx.on("showMessage", (e) => {
    toastBody.innerText = e.detail.value
    toast.show()
  })


</script>

<script>
  $(document).ready(function(){
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    });
/*here i will make loop for get id category and status for contact with books */
/*حساب اجمالي الارباح و هي عبارة عن حاصل جمع سعر الكتب عند البيع بالاضافة الى سعر استعارة الكتاب*/
  });

  $(function () {
    'use strict'
  
    var ticksStyle = {
      fontColor: '#495057',
      fontStyle: 'bold'
    }

    var mode      = 'index'
    var intersect = true

    var $salesChart = $('#sales-chart')

    var salesChart  = new Chart($salesChart, {

      type   : 'bar',
      
      data   : {

        labels  : [
            

          'تفاصيل الارباح',

        ],


        datasets: [
          {
            backgroundColor: '#007bff',
            borderColor    : '#007bff',
            data           : [ 
                '50',
            ]
          },
          {
            backgroundColor: '#ced4da',
            borderColor    : '#ced4da',
            data           : [ 
                  '30',
            ]
          }
        ]
      },

    
    
    options: {
        maintainAspectRatio: false,
        tooltips           : {
          mode     : mode,
          intersect: intersect
        },
        hover              : {
          mode     : mode,
          intersect: intersect
        },
        legend             : {
          display: false
        },
        scales             : {
          yAxes: [{
            // display: false,
            gridLines: {
              display      : true,
              lineWidth    : '4px',
              color        : 'rgba(0, 0, 0, .2)',
              zeroLineColor: 'transparent'
            },
            ticks    : $.extend({
              beginAtZero: true,

              // Include a dollar sign in the ticks
              callback: function (value, index, values) {
                if (value >= 1000) {
                  value /= 1000
                  value += 'k'
                }
                return '$' + value
              }
            }, ticksStyle)
          }],
          xAxes: [{
            display  : true,
            gridLines: {
              display: false
            },
            ticks    : ticksStyle
          }]
        }
      }
    });
    
  var pieChart = document.getElementById('visitors-chart').getContext('2d')

    var myPieChart = new Chart(pieChart, {
      type: 'pie',
      data: {
        datasets: [{
          data: [{{count_officers_availble}}, {{count_officers_total|sub:count_officers_availble}}],
          backgroundColor :["#27c100","#f3545d","#fdaf4b"],
          borderWidth: 10,
          
        }],
        labels: ['موجود', 'خارج'] 
      },
      options : {
        responsive: true, 
        maintainAspectRatio: false,
        legend: {
          position : 'bottom',
          labels : {
            fontColor: '#000',
            fontSize: 15,
            usePointStyle : true,
            padding:30
          }
        },
        pieceLabel: {
          render: 'percentage',
          fontColor: 'white',
          fontSize: 14,
        },


      }
    })

  })


</script>

{% endblock %}
