{% extends 'base.html' %}

{% block title %}منظومة شئون ضباط{% endblock %}

{% block content %}

{% load static %}



<div style="direction: rtl;" class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div   class="content-wrapper">
      <!-- Content Header (Page header) -->
  
      <!--الاحصائيات-->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">اجمالي عدد الضباط</h3>                    
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                      <span class="text-bold text-lg">500</span>
                      <span>اجمالي عدد الضباط</span>
                    </p>  
                  </div>
                  <!-- /.d-flex -->

                  <div class="position-relative mb-4">
                    <canvas id="visitors-chart" height="200"></canvas>
                  </div>  
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">تيست</h3>   
                  </div>
                </div>    
                <div class="card-body">
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                      <span id="totalsalarys" class="text-bold text-lg">$250</span><br></p>
                  </div>
                  <!-- /.d-flex -->
  
                  <div class="position-relative mb-4">
                    <canvas id="sales-chart" height="160"></canvas>
                  </div>
  
                  <div class="d-flex flex-row justify-content-end">
                    <span class="mr-2">
                      <i class="fas fa-square text-primary"></i> خوارج
                      <p id="soldtotals"></p>     
                    </span>
                    <span>
                      <i class="fas fa-square text-gray"></i> موجود
                      <p id="rentedtotals"></p>
                    </span>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
  

          <button hx-get="{% url "addOfficer" %}" hx-target="#dialog" class="btn btn-primary"> اضافة ضابط</button>


  
          <!-- تصنيفات-->
  
          <div class="row justify-content-center mb-3">
            <div class="col-4 ">
              <ul class="nav">
            {% for rank in ranks %}
            
                <li class="nav-item ">
                  <a id="" class="nav-link bg-primary" href="#">{{ rank.name }}</a>
                </li>

            {% endfor %}
            </div>
          </div>
          <!-- books -->

          <div class="row">


        {% include "officers_affairs/officer_list.html" %}
         
        {% comment %} {% for officer in officer_list %}
        {% if officer.status == 1 %}
          <!-- الضباط -->
              <div id="" class="col-md-4">
                  <!-- Widget: user widget style 1 -->
                <div id="" class="card card-widget widget-user ">
                  <!-- Add the bg color to the header using any of the bg-* classes -->
                <!-- قائمة منسدلة -->
                <div style="position: absolute;" class="btn-group">   
                  <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">تعديل</a>
                    <a class="dropdown-item" href="#">حذف</a>
                <!-- Button trigger modal -->
                  </div>
                </div>
               
                <div style="background: url({{officer.rank.image.url}}); background-size:cover "  class="widget-user-header bg-info">
                  <h3  class="widget-user-username" >{{ officer.rank }} </h3>
                  <h4 class="widget-user-desc">{{ officer.full_name }}</h4>
                </div>
                
                <div class="widget-user-image">

                {% if officer.profile_image %}
                  <img style="width:100px; height: 100px;" class="img-circle elevation-2" src="{{ officer.profile_image.url }}" alt="User image">
                {% else %}
                  <img style="width:100px; height: 100px;" class="img-circle elevation-2" src="{% static 'images/user-avatar.png' %}" alt="User Avatar">

                {% endif %}
                </div>
                <div class="card-footer">
               
                  
                    
                    
                      <div class="description-block">
                        <h5 class="description-header text-dark">الوحده : {{ officer.current_unit.unit.name }}</h5>
                        <h5 class="description-header text-dark">الفرع : {{ officer.branch.name }}</h5>
                        <h5 class="description-header text-dark">القسم : {{ officer.section.name }}</h5>
                        <span class="description-text">الوظيفة :  {{ officer.job.name }} </span>
                      </div>
                      <div class="description-block">
                        <h5 class="description-header text-dark">الرقم العسكري : {{ officer.military_number }}</h5>
                        <h5 class="description-header text-dark">رقم الأقدمية  : {{ officer.seniority_number }}</h5>
                        <h5 class="description-header text-dark">السلاح : {{ officer.weapon.name }}</h5>
                        <h5 class="description-header text-dark">رقم الهاتف : {{ officer.phone1 }}  </h5>
                        {% if  officer.phone2 %}
                        <h5 class="description-header text-dark">  رقم الهاتف 2: {{ officer.phone2 }}  </h5>
                        {% endif %}
                        {% if officer.home_phone %}
                        <h5 class="description-header text-dark"> رقم الهاتف المنزلي : {{ officer.home_phone }}  </h5>
                        {% endif %}
                      </div>
                      <!-- /.description-block -->
                    
                        <!-- /.col -->
                  
                      <!-- /.row -->
                </div>
                </div>
                  <!-- /.widget-user -->
              </div>
          <!-- نهاية الضابط -->
          

          {% endif %}
          {% endfor %} {% endcomment %}

              <div class="row">
                <div class="col text-center">
                  <!--اضف صورة هنا في حالة عدم وجود كتب-->   
                </div>
              </div>
          </div>    
      </div>
    </div>
        <!-- /.container-fluid -->
  </div>
      <!-- /.content -->
</div>
    <!-- /.content-wrapper -->

<!-- Modal Placeholder -->
<div id="modal" class="modal fade" >
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

<!-- Toast -->
<div class="toast-container position-fixed top-0 start-0 p-3">
    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div id="toast-body" class="toast-body"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
    </div>
</div>

<script>
  const modal = new bootstrap.Modal(document.getElementById("modal"))

  htmx.on("htmx:afterSwap", (e) => {
    // Response targeting #dialog => show the modal
    if (e.detail.target.id == "dialog") {
      modal.show()
    }
  })

  htmx.on("htmx:beforeSwap", (e) => {
    // Empty response targeting #dialog => hide the modal
    if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
      modal.hide()
      e.detail.shouldSwap = false
    }
  })

  htmx.on("hidden.bs.modal", () => {
    // Remove dialog content after hiding
    document.getElementById("dialog").innerHTML = ""
  })
  
  const toastElement = document.getElementById("toast")
  const toastBody = document.getElementById("toast-body")
  const toast = new bootstrap.Toast(toastElement, { delay: 2000 })

  htmx.on("showMessage", (e) => {
    toastBody.innerText = e.detail.value
    toast.show()
  })


</script>
{% endblock %}
