{% extends 'base.html' %}

{% block title %}الصفحة الرئيسية{% endblock %}

{% block content %}
    <h2>مرحبا بك في الصفحة الرئيسية</h2>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p><p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p><p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p><p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
    <p>هذه هي الصفحة الرئيسية للنظام.</p>
{% endblock %}
