{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}معلومات الضابط{% endblock %}
{% block content %}
    <div class="container-fluid mt-4">
        <div class="card">
            <div class="card-header text-center text-white"
                 style="background-image: url('{{ officer.rank.image.url }}');
                        background-size: cover;
                        background-position: center">
                <div style="background-color: rgba(0, 0, 0, 0.151);
                            padding: 20px;
                            border-radius: 10px">
                    {% if officer.profile_image %}
                        <img class="rounded-circle border border-white"
                             style="width: 150px;
                                    height: 150px"
                             src="{{ officer.profile_image.url }}"
                             alt="صورة الضابط">
                    {% else %}
                        <img class="rounded-circle border border-white"
                             style="width: 150px;
                                    height: 150px"
                             src="{% static 'images/user-avatar.png' %}"
                             alt="User Avatar">
                    {% endif %}
                    <h3 class="mt-3">{{ officer.rank }} / {{ officer.full_name }}</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6" >
                        <ul class="list-group list-group-flush " >
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">الاسم: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.full_name }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">الفرع: </font><font style="font-size: 19px; font-family: sans-serif;">{{ officer.branch.name|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">الرقم العسكري: </font> <font style="font-size: 19px; font-family: sans-serif;" >{{ officer.military_number|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">العنوان: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.address|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">السلاح: </font><font style="font-size: 19px; font-family: sans-serif;" >{{ officer.weapon.name|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">الوحده الحاليه: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.unit.name|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">تاريخ الانضمام: </font><font style="font-size: 19px; font-family: sans-serif;">{{ officer.join_date|date:"d-m-Y"|arabic_numbers }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">الحاله: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.status.name|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">الحاله بالوحده: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.unit_status.name|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">الوظيفه: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.job.name|default:"" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">تاريخ آخر ترقيه : </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.rank_promotion_date|date:"d-m-Y"|arabic_numbers }}</font></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">الرتبه: </font> <font  style="font-size: 19px; font-family: sans-serif;">{{ officer.rank.name }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">القسم: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.section.name|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;" >رقم الاقدميه: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.seniority_number|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;" >الرقم القومي: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.national_id|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">فصيله الدم: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.blood_type.type|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">الوحده السابقه</font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.previous_unit.name|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">رقم الهاتف ١: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.phone1|default:'لا يوجد' }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">رقم الهاتف ٢: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.phone2|default:'لا يوجد' }}</font></li>
                            {% comment %} <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">رقم هاتف المنزل: </font><font style="font-size: 19px; font-family: sans-serif;">{{ officer.home_phone|default:'لا يوجد' }}</font></li> {% endcomment %}
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">الحاله الاجتماعيه: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.marital_status.name|default:"لا يوجد" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">رقم الدفعه: </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.batch_number|default:"" }}</font></li>
                            <li class="list-group-item"><font style="font-size: 20px; font-family: Sans-serif; font-weight: bold;">تاريخ الميلاد : </font> <font style="font-size: 19px; font-family: sans-serif;">{{ officer.birth_date|date:"d-m-Y"|arabic_numbers }}</font></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
