{% load django_bootstrap5 %}
{% load static %}

<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-hijri-datetimepickermin.js' %}"></script>

<form hx-post="{{ request.path }}" class="modal-content" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-encoding="multipart/form-data">
    <div class="modal-header">
      <h5 class="modal-title">{% if form.instance.pk %} تعديل ضابط {% else %} اضافة ضابط {% endif %}</h5>
      <button type="button" class="close" style="margin-right: auto" data-bs-dismiss="modal" aria-label="Close">
        <strong><span aria-hidden="true">&times;</span></strong>
      </button>
    </div>

    <div class="modal-body">
        {% bootstrap_form form %}
     
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
      <button type="submit" class="btn btn-primary"> {% if form.instance.pk %} تعديل {% else %} اضافة {% endif %}
      </button>
    </div>
</form>

<script >
  htmx.on("htmx:afterSwap", (e) => {
    const create_user = document.getElementById('id_create_user');
    const is_active = document.getElementById('id_is_active');
    
    if (create_user === null || is_active === null) return; 

    const update_state = () => {
      if (create_user.checked) 
        is_active.disabled = false;
       else 
        is_active.disabled = true;
    };

    create_user.addEventListener("click", update_state);
    
    update_state();
  });
  
  // {% comment %} DATE PICKER {% endcomment %}
    $( function initDefault() {
        // https://www.jqueryscript.net/time-clock/hijri-date-picker-bootstrap.html 
        // https://www.jqueryscript.net/time-clock/Clean-Data-Timepicker-with-jQuery-Bootstrap-3.html
        $(".hijri-picker").hijriDatePicker({
            hijri:false,
            showSwitcher:false,
            debug: false,
            isRTL:true,  
            format: 'YYYY-MM-DD',
            widgetPositioning: {
                    horizontal: 'auto',  // or 'left', 'right'
                    vertical: 'bottom'   // or 'top' to force it above the input field
                }

        }); });


</script>

