{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}معلومات الضابط{% endblock %}
{% block content %}
    <div class="container-fluid mt-4">
        <div class="card">
            <div class="card-header text-center text-white"
                 style="background-image: url('{{ officer.rank.image.url }}');
                        background-size: cover;
                        background-position: center">
                <div style="background-color: rgba(0, 0, 0, 0.151);
                            padding: 20px;
                            border-radius: 10px">
                    {% if officer.profile_image %}
                        <img class="rounded-circle border border-white"
                             style="width: 150px;
                                    height: 150px"
                             src="{{ officer.profile_image.url }}"
                             alt="صورة الضابط">
                    {% else %}
                        <img class="rounded-circle border border-white"
                             style="width: 150px;
                                    height: 150px"
                             src="{% static 'images/user-avatar.png' %}"
                             alt="User Avatar">
                    {% endif %}
                    <h3 class="mt-3">{{ officer.rank }} / {{ officer.full_name }}</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">الاسم: {{ officer.full_name }}</li>
                            <li class="list-group-item">الفرع: {{ officer.branch.name|default:"لا يوجد" }}</li>
                            <li class="list-group-item">الرقم العسكري: {{ officer.military_number|default:"لا يوجد" }}</li>
                            <li class="list-group-item">العنوان: {{ officer.address|default:"لا يوجد" }}</li>
                            <li class="list-group-item">السلاح: {{ officer.weapon.name|default:"لا يوجد" }}</li>
                            <li class="list-group-item">الوحدة الحالية: {{ officer.unit.name|default:"لا يوجد" }}</li>
                            <li class="list-group-item">تاريخ الانضمام: {{ officer.join_date|date:"d-m-Y"|arabic_numbers }}</li>
                            <li class="list-group-item">الحالة: {{ officer.status.name|default:"لا يوجد" }}</li>
                            <li class="list-group-item">الحالة بالوحدة: {{ officer.unit_status.name|default:"لا يوجد" }}</li>
                            <li class="list-group-item">الوظيفة: {{ officer.job.name|default:"" }}</li>
                            <li class="list-group-item">تاريخ آخر ترقية: {{ officer.rank_promotion_date|date:"d-m-Y"|arabic_numbers }}</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">الرتبة: {{ officer.rank.name }}</li>
                            <li class="list-group-item">القسم: {{ officer.section.name|default:"لا يوجد" }}</li>
                            <li class="list-group-item">رقم الأقدمية: {{ officer.seniority_number|default:"لا يوجد" }}</li>
                            <li class="list-group-item">الرقم القومي: {{ officer.national_id|default:"لا يوجد" }}</li>
                            <li class="list-group-item">فصيلة الدم: {{ officer.blood_type.type|default:"لا يوجد" }}</li>
                            <li class="list-group-item">الوحدة السابقة: {{ officer.previous_unit.name|default:"لا يوجد" }}</li>
                            <li class="list-group-item">رقم الهاتف ١: {{ officer.phone1|default:'لا يوجد' }}</li>
                            <li class="list-group-item">رقم الهاتف ٢: {{ officer.phone2|default:'لا يوجد' }}</li>
                            {% comment %} <li class="list-group-item">رقم هاتف المنزل: {{ officer.home_phone|default:'لا يوجد' }}</li> {% endcomment %}
                            <li class="list-group-item">الحالة الإجتماعية: {{ officer.marital_status.name|default:"لا يوجد" }}</li>
                            <li class="list-group-item">رقم الدفعة: {{ officer.batch_number|default:"" }}</li>
                            <li class="list-group-item">تاريخ الميلاد: {{ officer.birth_date|date:"d-m-Y"|arabic_numbers }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
