<form hx-post="{{ request.path }}" class="modal-content" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
    <div class="modal-header">
      <h5 class="modal-title">حذف ضابط</h5>
      <button type="button" class="close" style="margin-right:auto" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <p class="p-1"> هل تريد حقاً حذف الضابط ؟ {{ officer.full_name }}</p>
      
    </div>

    <div class="modal-footer">
      <button type="submit"  class="btn btn-danger">حذف</button>
      <button type="button"  class="btn btn-success" data-bs-dismiss="modal">تراجع</button>
    </div>
</form>