{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}



<div class="container mt-5">
  <div class="row">
    <div class="col-md-40">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">طلب اجازة<br>{{request.user.officer_profile.rank}}/{{request.user.officer_profile.full_name}}</h4>
        </div>
        <div class="card-body">
          <form method="POST" id="leave-request-form">
            {% csrf_token %}
            {% if form.non_field_errors %}
              <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}

            {% for field in form %}
              <div class="form-group mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                  <div class="alert alert-danger">{{ field.errors }}</div>
                {% endif %}
              </div>
            {% endfor %}

            <div class="form-group mb-3">
              <label>عدد الأيام المطلوبة:</label>
              <p id="id_taken_days">-</p>
            </div>
           
             
            
              <div>
                <label>عدد الأيام المتبقية: </label>
                <p id="id_remaining_days">-</p>
              </div>
              

            <button type="submit" class="btn btn-success w-100">تقديم الطلب</button>
          </form>

          <div id="loading-indicator" style="display: none;">جاري...</div>
        </div>
      </div>
    </div>


    
  </div>

  
</div>

  <div class="w-100 mt-5">
    <div class="row" id="chartContainer"></div>
  </div>
</div>




    
  

<script>
$(document).ready(function() {

  const remainingDays = {{ remaining_days_per_type|safe }};
  const chartContainer = document.getElementById('chartContainer');

  Object.entries(remainingDays).forEach(([leave_type, remaining]) => {
    const colDiv = document.createElement('div');
    colDiv.className = 'col-md-4 mb-4';
    
    const canvasElement = document.createElement('canvas');
    canvasElement.id = `chart-${leave_type}`;
    
    colDiv.appendChild(canvasElement);
    chartContainer.appendChild(colDiv);

    const ctx = canvasElement.getContext('2d');


    const getLabelColor = () => document.documentElement.getAttribute('data-bs-theme') === 'dark' ? '#fff' : '#000';

    let used = 0;
    if(leave_type == "annual"){
      used = 15 - remaining;
    }else if(leave_type == "casual"){
      used = 7 - remaining;
    }else{
      alert("something is wrong")
    }

    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['استهلك', 'المتبقي'],
        datasets: [{
          data: [used, remaining], // Assuming all days are remaining initially
          backgroundColor: ['#FF6384', '#36A2EB'],
          hoverBackgroundColor: ['#FF6384', '#36A2EB']
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'bottom',
            labels: {
              color: "white"
            }
          },
          title: {
            display: true,
            text: leave_type,
            labels: {
              color: "white"
            }
          }
        }
      }
    });
});


    const update_state = () =>{
        const startDate = $('#id_start_date').val();
        const endDate = $('#id_end_date').val();
        const leave_type = $("#id_leave_type").val();
        const all = {{remaining_days_per_type|safe}};

        if (leave_type && startDate && endDate) {
            var start = new Date(startDate);
            var end = new Date(endDate);
            
          
          const rem_days = all[leave_type] - days_between_dates(start, end)
          
          let display;
          if (rem_days > 0) 
            display = rem_days
          else
            display = 0
          
          $("#id_remaining_days").text(display)
        }
        if (leave_type){
          const rem_days = all[leave_type]
          console.log(rem_days)
          $("#id_remaining_days").text(rem_days)
          if(rem_days===undefined){
            $("#id_remaining_days").text('-')
          }

        }
         
    }

    const days_between_dates = (start, end) => {
        var timeDiff = end - start;
        return Math.ceil(timeDiff / (1000 * 3600 * 24)) + 1;  // حساب الأيام +1 لحساب اليوم الأول
    }

    $('#id_leave_type').on('change', function() {
        update_state()
    });

    $('#id_start_date, #id_end_date').on('dp.change', function() {
        var startDate = $('#id_start_date').val();
        var endDate = $('#id_end_date').val();

        update_state()

        if (startDate && endDate) {
            var start = new Date(startDate);
            var end = new Date(endDate);
            var daysTaken = days_between_dates(start, end)
            if (daysTaken > 0) {
                $('#id_taken_days').text(daysTaken);
            } 
        }
    });
});
</script>

{% endblock %}
