{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}




<div class="container mt-5">
  <div class="row">



    
    <div class="col-md-40">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">
            {% if form.instance.pk %} تعديل {% endif %}
            طلب اجازة
            <br>{{request.user.officer_profile.rank}}/{{request.user.officer_profile.full_name}}</h4>
        </div>
        <div class="card-body">
          <form method="POST" id="leave-request-form">
            {% csrf_token %}
            {% if form.non_field_errors %}
              <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}

            {% for field in form %}
              <div class="form-group mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                  <div class="alert alert-danger">{{ field.errors }}</div>
                {% endif %}
              </div>
            {% endfor %}

            <div class="form-group mb-3">
              <label>عدد الأيام المطلوبة:</label>
              <p id="id_taken_days">-</p>
            </div>
           
             
            
              <div>
                <label>عدد الأيام المتبقية: </label>
                <p id="id_remaining_days">-</p>
              </div>
              

            <button type="submit" class="btn btn-success w-100">
              {% if form.instance.pk %} تعديل {% else %} تقديم {% endif %}
              الطلب
            </button>
          </form>

          <div id="loading-indicator" style="display: none;">جاري...</div>

        </div>
      </div>
    </div>

   
      <div class="col-md-40">
        <div class="card mt-4">
        
          <div class="card-header bg-primary text-white">
            <h4>الرصيد</h4>
          </div>
        <div class="card-footer" style="box-sizing: border-box; display: block;">
        <div class="row">
          <div class="col">
              <div class="text-center border-end">
                  <h5 class="fw-bold mb-0">{{remaining_days_per_type.annual}} <span class="fw-normal fs-6">/15</span></h5>
                  <span class="text-uppercase">سنوية</span>
              </div>
          </div>
          <div class="col">
              <div class="text-center border-end">
                  <h5 class="fw-bold mb-0">{{remaining_days_per_type.casual}} <span class="fw-normal fs-6">/7</span></h5>
                  <span class="text-uppercase">عارضة</span>
              </div>
          </div>
        </div>
        </div>
        </div>
      </div>

    
  </div>

  
</div>

</div>




    
  

<script>
$(document).ready(function() {


    const update_state = () =>{
        const startDate = $('#id_start_date').val();
        const endDate = $('#id_end_date').val();
        const leave_type = $("#id_leave_type").val();
        const remaining_days_per_type = {{remaining_days_per_type|safe}};

        if (leave_type && startDate && endDate) {
          var start = new Date(startDate);
          var end = new Date(endDate);
            
          const rem_days = remaining_days_per_type[leave_type] - days_between_dates(start, end)
          
          if (end < start){
            $("#id_remaining_days").text("تاريخ الانتهاء قبل البدء")

          }else
            $("#id_remaining_days").text(rem_days > 0 ? rem_days : 0)
        }
        else if (leave_type){
          var start = new Date(startDate);
          var end = new Date(endDate);
            
          const rem_days = remaining_days_per_type[leave_type] - days_between_dates(start, end)

          $("#id_remaining_days").text(remaining_days_per_type[leave_type])
          if(rem_days===undefined)
            $("#id_remaining_days").text('-')
        }
         
    }

    const days_between_dates = (start, end) => {
        var timeDiff = end - start;
        return Math.ceil(timeDiff / (1000 * 3600 * 24)) + 1;  // حساب الأيام +1 لحساب اليوم الأول
    }

    $('#id_leave_type').on('change', function() {
        update_state()
    });

    $('#id_start_date, #id_end_date').on('dp.change', function() {
        var startDate = $('#id_start_date').val();
        var endDate = $('#id_end_date').val();

        update_state()

        if (startDate && endDate) {
            var start = new Date(startDate);
            var end = new Date(endDate);
            var daysTaken = days_between_dates(start, end)
            if (daysTaken > 0) {
                $('#id_taken_days').text(daysTaken);
            } 
        }
    });
});
</script>

{% endblock %}