{% extends 'base.html' %}
{% load custom_filters %}
{% load django_bootstrap5 %}
{% block content %}
    <h2 class="text-center mb-4 section-title">طلبات الأجازة</h2>
    <form method="GET"
          action="{% url 'leave_requests_list' %}"
          class="row g-3 mb-3">
        <div class="col-auto">
            <label for="status" class="form-label">تصفية حسب الحالة</label>
            <select name="status" id="status" class="form-select">
                <option value="" {% if not selected_status %}selected{% endif %}>الكل</option>
                <option value="pending"
                        {% if selected_status == 'pending' %}selected{% endif %}>جاري التصديق</option>
                <option value="approved"
                        {% if selected_status == 'approved' %}selected{% endif %}>تصـدق</option>
                <option value="rejected"
                        {% if selected_status == 'rejected' %}selected{% endif %}>لم يتصدق</option>
            </select>
        </div>
        <div class="col-auto">
            <label for="created_at" class="form-label">بتاريخ تقديم الطلب</label>
            <input type="date"
                   name="created_at"
                   id="created_at"
                   class="hijri-picker form-control">
        </div>
        <div class="col-auto">
            <label for="officer_name" class="form-label">اسم الضابط</label>
            <input type="text"
                   name="officer_name"
                   id="officer_name"
                   class="form-control"
                   value="{{ officer_name }}">
        </div>
        <div class="col-auto">
            <label for="branch" class="form-label">اختر الفرع</label>
            <select name="branch" id="branch" class="form-select">
                <option value="">جميع الأفرع</option>
                {% for branch in branches %}
                    <option value="{{ branch.id }}"
                            {% if branch.id == selected_branch_id %}selected{% endif %}>{{ branch.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mt-4">بحث</button>
        </div>
    </form>
    <!-- Adjust width as necessary -->
    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr>
                <th>م</th>
                <th>الرتبـه</th>
                <th>الاســم</th>
                <th>الفــرع</th>
                <th>نوع الإجازة</th>
                <th>من</th>
                <th>الي</th>
                <th>تاريخ تقديم الطلب</th>
                <th>عدد الايام</th>
                <th>عدد الايام المتبقية</th>
                <th>بدل عن يوم</th>
                <th>الحالة</th>
                <th>المصــدق الأن</th>
                <th>الإجراءات</th>
            </tr>
        </thead>
        <tbody>
            {% for request in leave_requests %}
                <tr>
                    <td>{{ leave_requests.start_index|add:forloop.counter0|arabic_numbers }}</td>
                    {% comment %} <td>{{ forloop.counter|arabic_numbers }}</td> {% endcomment %}
                    <td>{{ request.officer.rank }}</td>
                    <td>{{ request.officer.full_name }}</td>
                    <td>{{ request.officer.branch }}</td>
                    <td>{{ request.get_leave_type_display }}</td>
                    <td>{{ request.start_date|date:"d-m-Y"|arabic_numbers }}</td>
                    <td>{{ request.end_date|date:"d-m-Y"|arabic_numbers }}</td>
                    <td>{{ request.created_at|date:"d-m-Y سعت  Hm "|arabic_numbers }}</td>
                    <td>{{ request.days_taken|arabic_numbers }}</td>
                    {% if request.remaining_days %}
                        <td>{{ request.remaining_days|arabic_numbers }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>
                        {% if request.compensation_date %}
                            {{ request.compensation_date|arabic_numbers }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if request.status == 'approved' %}
                            <span class="badge bg-success">{{ request.get_status_display }}</span>
                        {% elif request.status == 'rejected' %}
                            <span class="badge bg-danger">{{ request.get_status_display }}</span>
                        {% else %}
                            <span class="badge bg-warning">{{ request.get_status_display }}</span>
                        {% endif %}
                    </td>
                    {% if request.approver.officer_profile.role %}
                        <td>{{ request.approver.officer_profile.role }}</td>
                    {% else %}
                        <td>{{ request.approver.officer_profile.branch }}</td>
                    {% endif %}
                    <td>
                        <!-- If the current user is the approver -->
                        {% if request.approver == user and user.officer_profile.role != 'المدير' %}
                            <!-- Show إبداء الرأي button for other approvers -->
                            {% if request.status != 'rejected' and request.status != 'approved' %}
                                <a href="#"
                                   class="btn btn-primary"
                                   data-bs-toggle="modal"
                                   data-bs-target="#approveModal2"
                                   data-id="{{ request.id }}">ابداء الرأي</a>
                            {% else %}
                                <button class="btn btn-outline-secondary" disabled>تم رفض الطلب</button>
                            {% endif %}
                        {% endif %}
                        {% if  user.officer_profile.role == 'المدير' %}
                            <a href="#"
                               class="btn btn-primary"
                               data-bs-toggle="modal"
                               data-bs-target="#approveModal"
                               data-id="{{ request.id }}">التصديق</a>
                        {% endif %}
                        <!-- If the user is not the approver but is رئيس فرع شئون ضباط -->
                        {% if request.approver != user and user.officer_profile.role == 'رئيس فرع شئون ضباط' %}
                            {% if request.status == 'approved' %}
                                <button class="btn btn-outline-secondary" disabled>تم التصديق</button>
                            {% elif request.status == 'pending' %}
                                <button class="btn btn-outline-secondary" disabled>قيد الانتظار</button>
                            {% elif request.status == 'rejected' %}
                                <button class="btn btn-outline-secondary" disabled>تم رفض الطلب</button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="13" class="text-center bg-success">لا توجد طلبات إجازة في الوقت الحالي</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination Controls -->
    <div class="pagination-container">
        <nav aria-label="Page navigation " class="d-flex justify-content-center">
            <ul class="pagination">
                {% if leave_requests.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="#" onclick="navigateAddParam('page', 1)" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                            href="#"
                            onclick="navigateAddParam('page', {{ leave_requests.previous_page_number }})"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for num in leave_requests.paginator.page_range %}
                    {% if leave_requests.number == num %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ num|arabic_numbers }}</a>
                        </li>
                    {% elif num > leave_requests.number|add:'-3' and num < leave_requests.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link"
                               href="#"
                               onclick="navigateAddParam('page', {{ num }})">{{ num|arabic_numbers }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if leave_requests.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="#"
                           onclick="navigateAddParam('page', {{ leave_requests.next_page_number }})"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="#"
                           onclick="navigateAddParam('page', {{ leave_requests.paginator.num_pages }})"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- Approval Modal -->
    <div class="modal fade"
         id="approveModal"
         tabindex="-1"
         aria-labelledby="approveModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="approveModalLabel">تصدقي على الأجازة</h5>
                    <button type="button"
                            class="close"
                            style="margin-right: auto"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                        <strong><span aria-hidden="true">&times;</span></strong>
                    </button>
                </div>
                <div class="modal-body">
                    <p>قرار التصديق ؟</p>
                    <div class="form-actions">
                        <button class="btn btn-success" id="acceptBtn">تصدق</button>
                        <button class="btn btn-danger" id="rejectBtn">لم يتصدق</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Approval Modal 2 -->
    <div class="modal fade"
         id="approveModal2"
         tabindex="-1"
         aria-labelledby="approveModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="approveModalLabel">إبداء الرأي</h5>
                    <button type="button"
                            class="close"
                            style="margin-right: auto"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                        <strong><span aria-hidden="true">&times;</span></strong>
                    </button>
                </div>
                <div class="modal-body">
                    <p>الرأي</p>
                    <div class="form-actions">
                        <button class="btn btn-success" id="acceptBtn2">اوافق</button>
                        <button class="btn btn-danger" id="rejectBtn2">لا اوافق</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    function navigateAddParam(param, value) {
        const url = new URL(window.location.href);
        url.searchParams.set(param, value);
        window.location.href = url; 
    }

    let selectedRequestId;

    $('#approveModal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget); // Button that triggered the modal
        selectedRequestId = button.data('id'); // Extract info from data-* attributes
    });

    $('#acceptBtn').on('click', function() {
        $.post("{% url 'approve_leave_request' 0 %}".replace('0', selectedRequestId), {
            decision: 'accept',
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }, function(response) {
            location.reload(); // Reload the page to reflect the new status
        });
    });

    $('#rejectBtn').on('click', function() {
        $.post("{% url 'approve_leave_request' 0 %}".replace('0', selectedRequestId), {
            decision: 'reject',
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }, function(response) {
            location.reload(); // Reload the page to reflect the new status
        });
    });
    </script>
    <script>
    let selectedRequestId2;

    $('#approveModal2').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget); // Button that triggered the modal
        selectedRequestId2 = button.data('id'); // Extract info from data-* attributes
    });

    $('#acceptBtn2').on('click', function() {
        $.post("{% url 'approve_leave_request' 0 %}".replace('0', selectedRequestId2), {
            decision: 'accept',
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }, function(response) {
            location.reload(); // Reload the page to reflect the new status
        });
    });

    $('#rejectBtn2').on('click', function() {
        $.post("{% url 'approve_leave_request' 0 %}".replace('0', selectedRequestId2), {
            decision: 'reject',
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }, function(response) {
            location.reload(); // Reload the page to reflect the new status
        });
    });
    </script>
{% endblock %}
