/* Light theme styles */
body {
    background-color: #ffffff;
    color: #000000;
}
.navbar, .sidebar, .footer {
    background-color: #ffffff;
}

/* Dark theme styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}
body.dark-mode .navbar {
    background-color: #333333;
}
body.dark-mode .sidebar {
    background-color: #1e1e1e;
}
body.dark-mode .footer {
    background-color: #333333;
}
