{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  
    <title>معهد نظم المعلومات</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/ISILogo.png' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel="stylesheet" />

    <!-- IonIcons -->
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <!-- Theme style -->
    {% comment %} <link rel="stylesheet" href="{% static  'dist/css/adminlte_ar.min.css' %}"> {% endcomment %}

    {% comment %} <link rel="stylesheet" href="{% static  'adminlte_3_rtl/css/adminlte.css' %}">
    <link rel="stylesheet" href="{% static  'adminlte_3_rtl/css/custom.css' %}"> {% endcomment %}
    
    {% comment %} <link rel="stylesheet" href="{% static  'adminlte_v4/css/adminlte.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static  'adminlte_v4/css/adminlte.rtl.css' %}">
    <script src="{% static  'adminlte_v4/js/adminlte.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% comment %} <link rel="stylesheet" href="{% static  'adminlte_3_rtl/css/custom.css' %}">  {% endcomment %}

    <!-- Google Font: Source Sans Pro -->
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> {% endcomment %}
    <link href="{% static "fonts/Source_Sans_Pro.css" %}" rel="stylesheet">

    
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    {% comment %} <script src="{% static  'dist/js/adminlte.js' %}"></script> {% endcomment %}
    <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %} "></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-hijri-datetimepickermin.js' %}"></script>

    {% comment %} cool scroll bar for the sidebar {% endcomment %}
    <script src="{% static "js/overlayscrollbars.browser.es6.min.js" %}" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/overlayscrollbars.min.css" %}" crossorigin="anonymous">

  </head>
  {% comment %} <body dir="rtl" class="hold-transition sidebar-mini dark-mode" data-bs-theme="dark"> {% endcomment %}
  <body dir="rtl" class="layout-fixed sidebar-expand-lg sidebar-mini bg-body-tertiary" >

    <div class="app-wrapper"> <!--begin::Header-->
      
      {% include 'parts/sidebar.html' %}
     
      {% include 'parts/nav.html' %}
      
      <main class="app-main">
        {% block content %} {% endblock %}

      </main>
      
      {% include 'parts/footer.html' %}
      
      
    </div>


    
    <script>
      // Reusable function for toggling the visibility of elements
      function toggleVisibility(showButtonId, hideButtonId, inputId) {
        $(inputId).hide(); // Initially hide the input section
      
        $(showButtonId).click(function() {
          $(inputId).show(); // Show the input section when the "add" button is clicked
        });
      
        $(hideButtonId).click(function() {
          $(inputId).hide(); // Hide the input section when the "back" button is clicked
        });
      }
      
      // Apply the function for different elements
      toggleVisibility('#addweapon', '#backweapon', '#weaponinput');
      toggleVisibility('#addunit', '#backunit', '#unitinput');
      toggleVisibility('#addbranch', '#backbranch', '#branchinput');
      toggleVisibility('#addsection', '#backsection', '#sectioninput');
      toggleVisibility('#addjob', '#backjob', '#jobinput');
      toggleVisibility('#addrank', '#backrank', '#rankinput');
      toggleVisibility('#addoffunitstatus', '#backoffunitstatus', '#offunitstatusinput');
      toggleVisibility('#addoffstatus', '#backoffstatus', '#offstatusinput');
      </script>
      



      <script type="text/javascript">
        // {% comment %} DATE PICKER {% endcomment %}
          $( function initDefault() {
              // https://www.jqueryscript.net/time-clock/hijri-date-picker-bootstrap.html 
              // https://www.jqueryscript.net/time-clock/Clean-Data-Timepicker-with-jQuery-Bootstrap-3.html
              $(".hijri-picker").hijriDatePicker({
                  locale: 'ar-SA',
                  showTodayButton: false,
                  hijri:false,
                  showSwitcher:false,
                  debug: false,
                  isRTL:true,  
                  //color
                  format: 'YYYY-MM-DD',
                  widgetPositioning: {
                          horizontal: 'auto',  // or 'left', 'right'
                          vertical: 'bottom'   // or 'top' to force it above the input field
                      }
      
              }); });
      
      
      </script>


      <script>
        const SELECTOR_SIDEBAR_WRAPPER = ".sidebar-wrapper";
        const Default = {
            scrollbarTheme: "os-theme-light",
            scrollbarAutoHide: "leave",
            scrollbarClickScroll: true,
        };
        document.addEventListener("DOMContentLoaded", function() {
            const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
            if (
                sidebarWrapper &&
                typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== "undefined"
            ) {
                OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
                    scrollbars: {
                        theme: Default.scrollbarTheme,
                        autoHide: Default.scrollbarAutoHide,
                        clickScroll: Default.scrollbarClickScroll,
                    },
                });
            }
        });
    </script>

  </body>
</html>