{% load static %}


<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  
    <title>معهد نظم المعلومات</title>
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">

    <!-- IonIcons -->
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static  'dist/css/adminlte_ar.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/stylesdark.css' %}">
    
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static  'dist/js/adminlte.js' %}"></script>
    <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %} "></script>

  </head>
  <body dir="rtl" class="hold-transition sidebar-mini">


    {% include 'parts/nav.html' %}
    {% include 'parts/sidebar.html' %}

    {% block content %} {% endblock %}

    {% include 'parts/footer.html' %}



    



  </body>
</html>