{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/bootstrap5.1.3.min.css" %}" />
    <script src="{% static "js/bootstrap5.1.3.bundle.min.js" %}"></script>
    <script src="{% static "js/htmx.min.js" %} "></script>
</head>
<body>
    <button hx-get="/form" hx-target="#dialog" class="btn btn-primary">
      Add an Officer
    </button>

    <!-- Placeholder for the modal -->
    <div id="modal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>

    <!-- Empty toast to show the message -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
            <div id="toast-body" class="toast-body"></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
        </div>
        </div>
    </div>


     <script>
     (function () {
      const modal = new bootstrap.Modal(document.getElementById("modal"))

      htmx.on("htmx:afterSwap", (e) => {
        // Response targeting #dialog => show the modal
        if (e.detail.target.id == "dialog") {
          modal.show()
        }
      })

      htmx.on("htmx:beforeSwap", (e) => {
        // Empty response targeting #dialog => hide the modal
        if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
          modal.hide()
          e.detail.shouldSwap = false
        }
      })

      // Remove dialog content after hiding
      htmx.on("hidden.bs.modal", () => {
        document.getElementById("dialog").innerHTML = ""
      })
    })()
  </script>
  <script>
      (function () {
        const toastElement = document.getElementById("toast")
        const toastBody = document.getElementById("toast-body")
        const toast = new bootstrap.Toast(toastElement, { delay: 2000 })

        htmx.on("showMessage", (e) => {
          toastBody.innerText = e.detail.value
          toast.show()
        })
      })()
  </script>
</body>
</html>