{% load static %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <title>
        Bootstrap Hijri Date Picker
    </title>


    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />


</head>

<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Bootstrap Hijri Date Picker v1.0.0</h2>
            <p class="lead">

            </p>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label>
                        Default Hijir
                    </label>
                    <input id="hijri-picker" type="text" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-hijri-datetimepickermin.js' %}"></script>
  

    <script type="text/javascript">


        $(function () {

            initDefault();

        });

        function initDefault() {
            $("#hijri-picker").hijriDatePicker({
                hijri:false,
                showSwitcher:true
            });
        }

    </script>

</body>

</html>