{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<h2 class="text-center mb-4 section-title">حضور الطابور الصباحي - {{ today|date:"d-m-Y"|arabic_numbers }}</h2>
<form method="GET"
          action="{% url 'parade_attendance_list' %}"
          class="d-flex justify-content-center align-items-center mb-3">
        <div class="form-group">
            <label for="date">اختر التاريخ:</label>
            <input name="date"
                   class="hijri-picker form-control"
                   value="{{ today|date:'Y-m-d' }}"
                   required>
        </div>
        <button type="submit"
                class="btn btn-primary align-self-end"
                style="margin-right: 0.5rem">عرض التمام</button>
    </form>
<div class="container">
    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr>
                <th>م</th>
                <th>الرتبة</th>
                <th>الأسم</th>
                <th>التمام</th>
                <th>ملاحظات</th>
            </tr>
        </thead>
        <tbody>
            {% for record in parade_records %}
            <tr class="{% if record.status == 'حضر' %}present{% else %}absent{% endif %}">
                <td>{{ forloop.counter|arabic_numbers }}</td>
                <td>{{ record.officer.rank }}</td>
                <td>{{ record.officer.full_name }}</td>
                <td>
                    {% if record.status == 'حضر' %}✔{% else %}❌{% endif %} 

                    {% comment %} {{ record.status }}</td> {% endcomment %}
                <td>{{ record.notes|default_if_none:"-" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
